body {
  background-color: #000;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.navbar a.nav-link {
  color: white !important;
}

.navbar a.nav-link:hover {
  color: #17d4d4 !important;
}

.homepage-contact-section {
  display: flex;
  background-color: #000;
  height: 500px;
  overflow: hidden;
}

.map-container {
  flex: 1;
}

.form-container {
  flex: 1;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
